<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Truth & Lie Timer</title>
    <script src="/socket.io.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Cinzel:wght@900" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/game.css">
</head>
<body>
    <div class="container timer-container" hidden id="timer">
        <div id="timer-text" class="huge" data-game-data="time"></div>
        <div class="label label--bottom"><span data-game-data="totalChoices"></span> votes</div>
    </div>
    <script type="module" src="/scripts/timer.js"></script>
</body>
</html>
